body {
    background-color: rgb(251, 124, 5);
    font-family: 'Outfit', sans-serif;
    color: #07426a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-weight: 1000;
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about {
    text-align: center;
    margin: 20px 0;
    font-size: 19px;
    font-weight: 600;
}

section {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul.podcast-links, ul.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.podcast-links li, ul.social-links li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    background: #ff994f;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

a:hover {
    background: rgb(255, 255, 255);
    color: #ff994f;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.member {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.member ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(270deg, #ff994f, #fff);
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: white;
    color: #ff994f;
}


