body {
    background-color: rgb(251, 124, 5);
    font-family: 'Apple Chancery', sans-serif; /* Changed font-family */
    color: #07426a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

h1 {
    font-weight: 1000;
    font-size: 70px;
    margin: 0;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.pray-for-palestine {
    text-align: center;
}

.pray-for-palestine img {
    display: block;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

h4 {
    font-size: 32px;
    font-weight: 2000;
    margin-bottom: 17px;
    margin-top: 0;
    color: green;
}

.about {
    text-align: center;
    margin: 20px 0;
    font-size: 19px;
    font-weight: 600;
}

section {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul.podcast-links, ul.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul.podcast-links li, ul.social-links li {
    margin: 15px;
}

a {
    text-decoration: none;
    color: white;
    background: linear-gradient(270deg, #ff994f, #07426a);
    padding: 10px 20px;
    border-radius: 20px;
    transition: .4s;
}

a:hover {
    background: #07426a;
    color: #fff;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}

.member {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.member ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    font-family: 'Apple Chancery', sans-serif; /* Changed font-family */
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(270deg, #ff994f, #07426a);
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Apple Chancery', sans-serif; /* Changed font-family */
    color: white; /* Set font color to white */
}

.contact-form button:hover {
    background: #07426a;
    color: white; /* Font color on hover */
}

h3 {
    text-align: center;
}

.ticker {
    width: 100%;
    overflow: hidden;
    background-color: #ff994f;
    color: #07426a;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    font-family: 'Apple Chancery', sans-serif; /* Changed font-family */
}

.ticker p {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 10s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 600px) {
    header img {
        max-width: 100%;
        height: auto;
    }
}
